
model_saved/TransUnet/epo150_bs6_256/epoch_49.pth
model_saved/TransUnet/epo150_bs6_256/epoch_99.pth
model_saved/TransUnet/epo150_bs6_256/log.txt
model_saved/TransUnet/epo150_bs6_256/log/events.out.tfevents.1644918280.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256/log/events.out.tfevents.1644918447.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256/log/events.out.tfevents.1644918500.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256/log/events.out.tfevents.1644932164.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/epoch_149.pth
model_saved/TransUnet/epo150_bs6_256_pretrain/epoch_49.pth
model_saved/TransUnet/epo150_bs6_256_pretrain/epoch_99.pth
model_saved/TransUnet/epo150_bs6_256_pretrain/log.txt
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644314039.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644917547.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644917614.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644917675.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644917739.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644917788.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644917806.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644918205.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644918332.LAURENT-PC
model_saved/TransUnet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644918540.LAURENT-PC
model_saved/Unet/epo150_bs6_256/epoch_149.pth
model_saved/Unet/epo150_bs6_256/epoch_49.pth
model_saved/Unet/epo150_bs6_256/epoch_99.pth
model_saved/Unet/epo150_bs6_256/log.txt
model_saved/Unet/epo150_bs6_256/log/events.out.tfevents.1644929691.LAURENT-PC
model_saved/Unet/epo150_bs6_256_pretrain/epoch_149.pth
model_saved/Unet/epo150_bs6_256_pretrain/epoch_49.pth
model_saved/Unet/epo150_bs6_256_pretrain/epoch_99.pth
model_saved/Unet/epo150_bs6_256_pretrain/log.txt
model_saved/Unet/epo150_bs6_256_pretrain/log/events.out.tfevents.1644922969.LAURENT-PC
